<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일반로그인</title>
    <link rel="stylesheet" href="/css/user/login.css">
</head>
<body>
<div class="LoginPage-Layout">
    <div class="LoginPage-Wrapper">
        <div class="LoginPage-Container">
            <form name="loginFormTag" action="/user/login" method="post" class="LoginPage-ContentWrapper">
                <!--  -->
                <div class="LoginPage-HeaderWrapper">
                    <div class="LoginPage-Header">
                        <p class="LoginPage-HeaderTitle">회원가입</p>
                    </div>
                </div>
                <div class="LoginPage-FooterWrapper">
                    <a href="/user/join">
                        <button class="LoginPage-LoginButton" type="button">햇살로 회원가입</button>
                    </a>
                </div>
                <a href="/user/seller-join">
                    <button class="styled__KakaoButton" type="button" data-state="closed">
                        판매자로 회원가입
                    </button>
                </a>
            </form>
        </div>
        <div class="LoginPage-RightImage"></div>
    </div>
</div>
</div>
</body>
</html>