<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" href="/css/user/login-select.css">
</head>
<body>
<div class="styled__NewMemberShipContainer">

    <div class="styled__NewMemberShipContainerInner">
        <div class="styled__LoginWrap">
            <div class="styled__LoginWrapInner">
                <div class="styled__Title">
                    <p class="SignIn__KakaoLoginSubTitle">회원가입 하고</p>
                    <p class="styled__KakaoLoginTitle">시장 골목마다 숨겨진  <br>보물 같은 상품을 만나거나 제공해보세요</p>
                </div>
                <a href="/user/join">
                    <button class="styled__EmailButton" data-state="closed">
                        <div class="emailIcon Icon__SVGICON">
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none"><circle cx="17" cy="17" r="14.875" fill="#D0D0D0"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M24.5557 10.8608H9.44458V12.0886H24.5557V10.8608ZM24.5557 12.0887L17.0001 17.8183L9.44458 12.0887H24.5557Z" fill="white"></path><path d="M20.1483 16.9997L24.5557 20.2737L24.5557 13.7256L20.1483 16.9997Z" fill="white"></path><path d="M13.852 16.9997L9.44458 20.2737L9.44458 13.7256L13.852 16.9997Z" fill="white"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.0001 19.4554L19.1589 17.8184L24.5557 21.9109L24.5557 23.1387H9.44458V21.9109L14.8414 17.8184L17.0001 19.4554Z" fill="white"></path></svg>
                        </div>
                        일반 회원가입
                    </button>
                </a>
                <a href="/user/seller-join">
                    <button class="styled__BusinessButton" data-state="closed">
                        <div class="BusinessIcon Icon__SVGICON">
                            <img src="../static/images/햇살장터 간단 로고.png" alt="">
                        </div>
                        판매자 회원가입
                    </button>
                </a>
            </div>
        </div>
        <div class="styled__BgWrap">

        </div>
    </div>
</div>
</body>
</html>